*{
    font-family:arial;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background:grey;
    display:flex;
    justify-content:center;
    margin-top:5%;
}

.navbar {
    margin:0;
    padding:0;
    text-align:center;
    background-color:white;
    border:2px solid black;
    margin-bottom: 5px;
    border-radius:10px;
}


.book-window {
    border:2px solid black;
    border-radius:10px;
    width:50vw;
    height:50%;
    background-color:white;
    justify-content:center;
}




.book-shelf {
    width:100%;
    border:2px solid red;
    height: 100%;
    display:flex;
    flex-wrap:wrap;
}


/* BOOK SECTION */ 

.book-block {
    height:30%;
    width:20%;
    background-color:grey;
    border-radius:10px;
    margin: 5px;
}

.title {
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;
}

.author {
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;

}

.numPages{
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;
}

/* Build a checkmark in read status */ 

.read-status {
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;
}

.status {
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;
}
.remove-button{
    font-weight:bold;
    justify-content:center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    margin: 5px;
    display:flex;
}

.add-div{
    
    width:50%;
    font-size:50px;
    font-weight:bold;
    
}


/*MODAL SECTION*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }