* {
  font-family: arial;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #39395f;
}

.navbarWindow {
  display: flex;
  margin: 1%;
}

.secondNavbar {
  height: 5vh;
  text-align: center;
  width: 80vw;
  background-color: #00d4ff;
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  display: flex;
  color: white;
  justify-content: center;
  font-size: 20px;
  margin: 1%;
}

.firstNavbar {
  height: 5vh;
  text-align: center;
  float: right;
  background-color: #00d4ff;
  border-radius: 10px;
  font-weight: bold;
  margin: 1%;
  align-items: center;
  display: flex;
  width: 20vw;
}

.loginDiv {
  color: white;
  width: 50%;
}

.logoutDiv {
  color: white;
  width: 50%;
}

.windowModalBook {
  height: 100vh;
  display: flex;
  margin: 1%;
  background-color: #39395f;
}

.book-window {
  border-radius: 10px;
  width: 80vw;
  height: 80vh;
  background-color: white;
  margin: 1%;
}

.modal-window {
  margin: 1%;
  background-color: white;
  height: 470px;
  width: 20vw;
  float: right;
  border-radius: 10px;
}

.book-shelf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* BOOK SECTION */

.book-block {
  height: 200px;
  width: 400px;
  background-color: #39395f;
  border-radius: 10px;
  margin: 10px;
  display: flex;
}

.book-block-left {
  height: 200px;
  width: 200px;
  display: flex;
}

.imageDiv {
  width: 200px;
  height: auto;
  padding: 5px;
  border-radius: 5%;
}

.book-block-right {
  height: 200px;
  width: 200px;
}

.title {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  height: 25px;
}

.author {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  height: 25px;
}

.numPages {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  height: 25px;
}

/* Build a checkmark in read status */

.read-status {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 236, 13);
  color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  height: 25px;
}

.notRead-status {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  height: 25px;
}

.statusAndRemoveDiv {
  display: flex;
  width: 80%;
  margin-left: 2px;
  gap: 5px;
}

.statusButton {
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 4px;
  display: flex;
  width: 150px;
  height: 25px;
  border: none;
}
.remove-button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: red;
  border: none;
  height: 25px;
}

.removeButtonImage {
  width: 22px;
}

.add-div {
  width: 50%;
  font-size: 50px;
  font-weight: bold;
}

/*MODAL SECTION*/

/* Modal Content/Box */
.modal-content {
  margin: 20% auto;
  padding: 20px;
  width: 80%;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  margin-top: 10%;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  font-weight: bold;
}

/*FORM CONTENT*/

input {
  width: 100%;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}

input[type="text"]:hover {
  border: 1px solid #aaa;
}

input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}

input[type="number"]:hover {
  border: 1px solid #aaa;
}

input[type="url"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s border-color;
}

input[type="url"]:hover {
  border: 1px solid #aaa;
}

input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 3%;
}

input[type="submit"]:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

input[type="submit"]:active {
  top: 1px;
}

.statusLabel {
  width: 50%;
}

.checkboxDiv {
  width: 50%;
  margin-bottom: 10px;
}

.checkbox-status {
  display: flex;
}
